.Movie-carousel-container{
    width: 100vw;
    background-color: black;
}

.Movie-poster{
    height: 300px;
}

.Movie-poster > img{
    height: 100%;
    width: 100%;
}

.Movie-card-container{
    height: 550px;
    background-color: black;
}

.Movie-card{
    
}